<mat-toolbar class="nav-bar" color="primary">
  <mat-toolbar-row>
    <img class="logo" src="assets/logos/default.svg">
    <h1>{{ 'Camera app' | translate }}</h1>
    <div *ngIf="loggedIn">
      <a mat-button [routerLink]="'/'">{{ 'Cameras' | translate }}</a>
      <a mat-button [routerLink]="'/reporting'">{{ 'Reporting' | translate }}</a>
      <a mat-button [routerLink]="'/settings'">{{ 'Settings' | translate }}</a>
    </div>
    <div class="flex-spacer"></div>
    <div *ngIf="loggedIn" class="user-block">
      <button mat-icon-button>
        {{ username }}
      </button>
      <button mat-icon-button (click)="onLogoutClick()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <mat-select class="locale-switch" [(value)]="currentLocale" (selectionChange)="onChangeLocale($event)">
      <mat-option *ngFor="let locale of locales" [value]="locale.value">
        {{locale.viewValue}}
      </mat-option>
    </mat-select>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="nav-bar-small" color="primary">
  <mat-toolbar-row>
    <img class="logo" src="assets/logos/default.svg">
    <h1>{{ 'Camera app' | translate }}</h1>
    <div class="flex-spacer"></div>
    <div *ngIf="loggedIn" class="user-block">
      <button mat-icon-button>
        {{ username }}
      </button>
      <button mat-icon-button (click)="onLogoutClick()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <mat-select class="locale-switch" [(value)]="currentLocale" (selectionChange)="onChangeLocale($event)">
      <mat-option *ngFor="let locale of locales" [value]="locale.value">
        {{locale.viewValue}}
      </mat-option>
    </mat-select>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="flex-box" *ngIf="loggedIn">
      <a mat-button [routerLink]="'/'">{{ 'Cameras' | translate }}</a>
      <a mat-button [routerLink]="'/reporting'">{{ 'Reporting' | translate }}</a>
      <a mat-button [routerLink]="'/settings'">{{ 'Settings' | translate }}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
